{% comment %}
When a comment has just been submitted, it's not shown right away.
Shopify needs to wait until it knows for sure that it is not spam to publish it.
We can still show right away *to its author* the comment he just submitted
— although that comment may not have been published yet.
When a comment is submitted, the browser is redirected to a page that
includes the new comment id in its URL. Example:
http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
When a comment ID is specified in an article URL, that comment is accessible in the
template through a Liquid object called comment.
That comment is a full-fledged comment variable that has all the regular comment properties:
http://docs.shopify.com/themes/liquid-variables/comment.
Note that comment.created_at will only be defined if the comment did not have any blank field
— was posted without error.
{% endcomment %}

{%- capture author -%}{{ article.user.first_name }} {{ article.user.last_name }}{%- endcapture -%}


<div class="single_blog_page_area">
  <div class="page-width">
    <div class="single_page_inner">
      <div class="single_blog_header">
        <p class="single_handle_title">{{ blog.handle }}</p>
        <h1>{{ article.title }}</h1>
      </div>
      <div class="single_blog_img">
          <img src="{{ article.image | img_url: 'master' }}" alt="">
      </div>
      <div class="single_blog_content">
      <div class="blog_contetn">{{- article.content -}}</div>
      </div>
    </div>
  </div>
</div>

{% if blog.handle == "journal"  %}
    <div class="dri-product-slider-wraper">
        <div class="dri-product-slider-inner">
            <div class="dri-product-slider-section-title">
                <h2>MORE JOURNALS HERE</h2>
            </div>
            <div class="dri-product-slider-call owl-carousel">

{% for article in blogs.journal.articles  %}
                <div class="dri-product-slider-item">
                    <a href="{{ article.url }}">
                      <div class="article_imgs" style="background:url({{ article.image | img_url: 'large' }});" ></div>
                        
                        <div class="dri-product-slider-item-text " style="background-color: #b7d1e8;">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.excerpt | strip_html | strip }}</p>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="dri-product-slider-wraper">
        <div class="dri-product-slider-inner">
            <div class="dri-product-slider-section-title">
                <h2>MORE RECIPES HERE</h2>
            </div>
            <div class="dri-product-slider-call owl-carousel">

{% for article in blogs.recipes.articles  %}
                <div class="dri-product-slider-item">
                    <a href="{{ article.url }}">
                      <div class="article_imgs" style="background:url({{ article.image | img_url: 'large' }});" ></div>
                        
                        <div class="dri-product-slider-item-text " style="background-color: #b7d1e8;">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.excerpt_or_content | strip_html | strip }}</p>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
{% endif %}