    <div class="dri-product-slider-wraper">
        <div class="dri-product-slider-inner">
            <div class="dri-product-slider-section-title">
                <h2>{{ section.settings.recipse_section_title }}</h2>
            </div>
            <div class="dri-product-slider-call owl-carousel">

{% for article in blogs.recipes.articles  %}
                <div class="dri-product-slider-item">
                    <a href="{{ article.url }}">
                      <div class="article_imgs" style="background:url({{ article.image | img_url: 'large' }});" ></div>
                        
                        <div class="dri-product-slider-item-text " style="background-color: #b7d1e8;">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.excerpt_or_content | strip_html | strip }}</p>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>	


{% schema %}
  {
    "name": "Reciepe Sider",
    "class": "shopify-section--image-with-text",
    "settings": [
         {
			"type": "text",
			"id": "recipse_section_title",
			"label": "Section title",
            "default": "RECIPES"
		}
],
		"presets": [
			{
				"category": "Blog",
				"name": "Recipse slider"
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
